/*Import de police d'écriture*/

@font-face{
    font-family: 'Monofur';
    src:url('./fonts/Monofur/MonofurNerdFont-Regular.ttf')
}

@font-face {
    font-family: 'Monofur Bold';
    src:url('./fonts/Monofur/MonofurNerdFont-Bold.ttf')
}

/*Css global pour mobil-first*/
body {
    font-family: 'Monofur';
    background: linear-gradient(45deg, #FF9A8B, #FF6A88, #FF99AC);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    background-image: url("img/vibrant_background_pink.jpg");
    background-size: cover;
    overflow-x: hidden;
}


main{
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center; 
    /* Glassmorphism css */
    background: rgba(255, 255, 255, 0.314);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#profpic {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.profilepicture {
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.txt-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#title-text {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 8px;
    font-family: 'Monofur Bold';
}

#undertitle-text {
    font-size: 18px;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 24px;
    font-family: 'Monofur Bold';
}

.btn-fav-playlist-list {
    display: flex;
    flex-direction: column;
    align-items: center;  /* s'applique sur le conteneur pour centrer le contenu */
    width: 100%;
    margin: 8px 0;
}

.btn-link {
    display: flex;
    align-items: center;
    margin: 4px 0 4px 0;
    padding: 16px;
    background-color: #7a3f97;
    opacity: 1;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    max-width: 300px;  /* Taille maximale des boutons en mobile-first */
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.btn-text {
    font-size: 14px;
    color:#ffffff;
    width: 100%;         
    text-align: center;
    letter-spacing: 1px;;

}

.logo-container{
    width: 50%;
    display: flex;
    justify-content: space-around; /*Permet d'espacer le contenu d'un élément équitablement*/
    margin: 50px 0px 15px 0px;
}


.logo {
    width: 20px;
    height: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    width: 100%;
    color: white;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: small;

}

/*Règles css uniquement pour les petits et moyens écrans*/
/* Certaines animations ne sont pas applicables aux petits écrans tactiles, il a donc fallu en trouver d'autres plus adaptées */
@media screen and (max-width: 1024px) {

    /*Entrée du contenu de la page en glissant, au chargement de la page*/
    @keyframes slideUpFade {
        from {
            transform: translateY(20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    /*Changement de couleur de la photo de profil */
    @keyframes profileColorShift {
        0% {
            filter: grayscale(0%) brightness(1);
        }
        50% {
            filter: grayscale(100%) brightness(0.8);
        }
        100% {
            filter: grayscale(0%) brightness(1);
        }
    }

    /* Animation de flottement*/
    @keyframes float {
        0%, 100% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(0px);
        }
    }

header{
    margin-top: 30px;
}

    /* On appelle les animations dans l'élément */
main{
    animation: slideUpFade 1s ease-out;
}

.profilepicture {
    animation: profileColorShift 8s infinite, float 4s ease-in-out infinite;
}


main, .profilepicture, .btn-link{
    will-change: transform, filter;
    backface-visibility: hidden;
}

/* Changement du comportement du footer sur petits écrans lorsque le mode paysage est activé */
footer{
    position: relative;
    margin-top: auto;
}
}

/* Règles css pour grands écrans */

@media screen and (min-width: 1025px) {

    /* Aggrandissement de la taille max du main*/
    main {
        max-width: 450px;
    }

    /* La photo de profil passe à gauche du titre et sous titre, et les deux sont centrés */
    header {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
    }


    /* Effet de 360 sur la photo de profil lors du hoover */
        .profilepicture {
            transition: transform 0.5s ease;
        }
        
        .profilepicture:hover {
            transform: rotate(360deg);
        }

/* Les sous titres passent à droite de la photo de profile */
    .txt-div {
        align-items: flex-start;
        text-align: left;
    }

/* l'élement à une plus grande largeur */
    .btn-fav-playlist-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }

}

/* Changement de couleur du bouton lors du hoover */
.btn-link {
    position: relative;
    background: linear-gradient(to right, #472457 50%, #7a3f97 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.3s ease-out;
  }
  
  .btn-link:hover {
    background-position: left bottom;
    transform: scale(1.1); /* Increases size by 10% */
  }
  
  /* Effet de pop du logo */
  .logo {
    transition: transform 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.5); /* Increases size by 50% */
  }



/* Glassmorphism css reusable snippet:

background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.5px );
-webkit-backdrop-filter: blur( 10.5px );
border-radius: 10px; */